@media only screen and (max-width: 1440px)
{
    .pure-u-1-5{
        width: 25% !important;
    }
    .pure-u-1-8{
        width: 12% !important;
    }

}
@media only screen and (max-width: 1280px)
{
    .pure-u-1-5{
        width: 33% !important;
    }
    .pure-u-1-8{
        width: 0% !important;
    }

}

body, html{
    margin: 0;
    height: 100%;
    color: #E6E6D9;
}
a:link, a:visited{
    text-decoration: none;
    color: #E6E6D9;
}
a:hover{
    text-decoration: underline;
    color: #CDCDC0;
}

#bg{
    background-image: url("../assets/backgrounds/13.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
}


.pure-u-1-5{
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.8;
    transition: opacity 0.2s;
}
.pure-u-1-5:hover{
    opacity:1;
}

.box-emt-info{
    border-radius: 20px;
    background-color:#33B4A7; 
}
.box-emt-info h3{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top:0px;
    padding: 8px;
    background-color:#199A8D;
}

.box-ems-portal{
    border-radius: 20px;
    /*background-color:#50DED0;*/ 
    background-color:#33B4A7; 
}
.box-ems-portal h2{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top:0px;
    padding: 8px;
    /*background-color:#36C4B6;*/
    background-color:#199A8D;
}

.box-doctor-info{
    border-radius: 20px;
    /*background-color:#62E3D6;*/ 
    background-color:#33B4A7; 
}
.box-doctor-info h3{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 8px;
    margin-top:0px;
    /*background-color:#48C9BC;*/
    background-color:#199A8D;
}

.box-fto-documents{
    border-radius: 20px;
    /*background-color:#74E8DD;*/ 
    background-color:#33B4A7; 

}
.box-fto-documents h3{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 8px;
    margin-top:0px;
    /*background-color:#5ACEC3;*/
    background-color:#199A8D;

}

.box-quick-links{
    border-radius: 20px;
    /*background-color:#86EEE3;*/ 
    background-color:#33B4A7; 

}
.box-quick-links h3{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 8px;
    margin-top:0px;
    /*background-color:#6CD4C9;*/
    background-color:#199A8D;

}

.box-command-documents{
    border-radius: 20px;
    /*background-color:#99F3EA;*/ 
    background-color:#33B4A7; 

}
.box-command-documents h3{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 8px;
    margin-top:0px;
    /*background-color:#7FD9D0; */
    background-color:#199A8D;   
}

.box-login{
    border-radius: 20px;
    /*background-color:#BDFEF7;*/ 
    background-color:#33B4A7; 

}
.box-login h3{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 8px;
    margin-top:0px;
    /*background-color:#A3E4DD;*/
    background-color:#199A8D; 
}

input{
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    background-color: #4DCEC1;
    border-style: solid;
    border-color: #199A8D;
    transition: background-color 0.2s;
}
input:focus{
    background-color: #67E8DB;
}

button{
    border-radius: 10px;
    padding: 10px;
    background-color: #4DCEC1;
    border-style: solid;
    border-color: #199A8D;
    transition: background-color 0.2s;
}
button:hover{
    background-color: #67E8DB;
    cursor: pointer;
}