.pure-u-1-5{
    margin: 0 auto;
    text-align: center;
}

.box-emt-info{
    background-color:#4CCDC0; 
}
.box-emt-info h3{
    margin-top:0px;
    padding: 5px;
    background-color:#32B3A6;
}

.box-ems-portal{
    background-color:#50DED0;    
}
.box-ems-portal h2{
    margin-top:0px;
    padding: 8px;
    background-color:#36C4B6;
}

.box-doctor-info{
    background-color:#62E3D6;
}
.box-doctor-info h3{
    padding: 5px;
    margin-top:0px;
    background-color:#48C9BC;
}