.pure-u-1-5{
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-emt-info{
    border-radius: 20px;
    background-color:#4CCDC0; 
}
.box-emt-info h3{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top:0px;
    padding: 8px;
    background-color:#32B3A6;
}

.box-ems-portal{
    border-radius: 20px;
    background-color:#50DED0;    
}
.box-ems-portal h2{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top:0px;
    padding: 8px;
    background-color:#36C4B6;
}

.box-doctor-info{
    border-radius: 20px;
    background-color:#62E3D6;
}
.box-doctor-info h3{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 8px;
    margin-top:0px;
    background-color:#48C9BC;
}

.box-fto-documents{
    border-radius: 20px;
    background-color:#74E8DD;

}
.box-fto-documents h3{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 8px;
    margin-top:0px;
    background-color:#5ACEC3;

}

.box-quick-links{
    border-radius: 20px;
    background-color:#86EEE3;

}
.box-quick-links h3{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 8px;
    margin-top:0px;
    background-color:#6CD4C9;

}

.box-command-documents{
    border-radius: 20px;
    background-color:#99F3EA;

}
.box-command-documents h3{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 8px;
    margin-top:0px;
    background-color:#7FD9D0;    
}

.box-login{
    border-radius: 20px;
    background-color:#BDFEF7;

}
.box-login h3{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 8px;
    margin-top:0px;
    background-color:#A3E4DD;    
}